Flask==2.2.2
azure-identity==1.11.0
azure-storage-blob==12.14.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
MarkupSafe==2.1.1 
Werkzeug==2.2.2
Jinja2==3.1.2 

# absl-py==1.3.0
# alembic==1.8.1
# appdirs==1.4.4
# argh==0.26.2
# astunparse==1.6.3
# atlassian-python-api==3.14.1
# atomicwrites==1.4.0
# avro==1.11.1
# azure-core==1.25.1
# azure-functions==1.11.2
# azure-storage-queue==12.4.0
# backports.entry-points-selectable==1.1.1
# backports.weakref==1.0.post1
# bkcharts==0.2
# black==22.8.0
# boto==2.49.0
# brotlipy==0.7.0
# cachetools==5.2.0
# certifi==2021.10.8
# cfgv==3.3.1
# chardet==3.0.4
# click==8.0.3
# conda-build==3.21.5
# conda-verify==3.4.2
# coverage==6.4.4
# cycler==0.10.0
# cytoolz==0.11.0
# daal4py==2021.3.0
# dask==2021.10.0
# Deprecated==1.2.13
# distlib==0.3.3
# entrypoints==0.3
# et-xmlfile==1.1.0
# flatbuffers==22.10.26
# fonttools==4.25.0
# gast==0.4.0
# gmpy2==2.0.8
# google-auth==2.14.1
# google-auth-oauthlib==0.4.6
# google-pasta==0.2.0
# grpcio==1.50.0
# identify==2.5.5
# idna==2.6
# inflection==0.5.1
# isodate==0.6.1
# keras==2.10.0
# Keras-Preprocessing==1.1.2
# libclang==14.0.6
# llvmlite==0.37.0
# locket==0.2.1
# Mako==1.2.2
# Markdown==3.4.1
# marshmallow==3.17.1
# mccabe==0.6.1
# mkl-fft==1.3.1
# mkl-service==2.4.0
# mpmath==1.2.1
# msrest==0.7.1
# munkres==1.1.4
# mypy-extensions==0.4.3
# navigator-updater==0.2.1
# nltk==3.6.5
# nodeenv==1.7.0
# oauthlib==3.1.1
# opt-einsum==3.3.0
# pandas==1.3.4
# pathspec==0.10.1
# patsy==0.5.2
# pep8==1.7.1
# Pillow==8.4.0
# pkginfo==1.7.1
# platformdirs==2.4.0
# ply==3.11
# pre-commit==2.20.0
# protobuf==3.19.6
# psycopg2-binary==2.9.2
# pyasn1==0.4.8
# pyasn1-modules==0.2.8
# pycosat==0.6.3
# pycurl==7.44.1
# pyls-spyder==0.4.0
# pymssql==2.2.5
# pyodbc===4.0.0-unsupported
# pytest==6.2.4
# pytest-cov==3.0.0
# python-dotenv==0.21.0
# python-lsp-jsonrpc==1.0.0
# python-lsp-server==1.2.4
# pytz==2021.3
# PyYAML==6.0
# requests==2.28.1
# requests-oauthlib==1.3.0
# rsa==4.9
# scikit-image==0.18.3
# scikit-learn-intelex==2021.20210714.170444
# simplegeneric==0.8.1
# sip==4.19.13
# Sphinx==4.2.0
# TBB==0.2
# tensorboard==2.10.1
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.1
# termcolor==2.1.0
# terminado==0.9.4
# tomli==2.0.1
# typing_extensions==4.3.0
# unicodecsv==0.14.1
# urllib3==1.22
# virtualenv==20.10.0
# webencodings==0.5.1
# xlwt==1.3.0
# zict==2.0.0
# zope.event==4.5.0
